In [17]:
# type hinting 
from typing import *
from collections import OrderedDict, deque

In [9]:
x = 10          # type: int

In [16]:
def f(x: int ,y: Optional[int]=None) -> int:
    if y is None:
        y = 10
    return x + y

f(10, None)

20

In [ ]:
def g(x: List[int]):
    print(len(x))
    print(x[2])
    for i in x:
        print(i)
    print() 

print(g("hello"))
print(g([19,19,38]))
print(g((10,20,89)))

5
l
h
e
l
l
o

None
3
38
19
19
38

None
3
89
10
20
89

None

In [20]:
1.1 + 2.2 - 3.3

4.440892098500626e-16

In [21]:
from math import fsum 

fsum([0.1]*10) == 1.0

True

In [ ]:
from collections import defaultdict

d = {"raymond":"red"}
e = defaultdict(lambda: "black")    # if a key is missing "black" is returned
e["raymond"] = "red"
d

{'raymond': 'red'}

In [23]:
e

defaultdict(<function __main__.<lambda>()>, {'raymond': 'red'})

In [24]:
e["raymond"]

'red'

In [25]:
d["rachel"]

KeyError: 'rachel'

In [26]:
e["rachel"]

'black'

In [ ]:
# Common usecase for defaultdict is grouping 
# A defaultdict creates a new container to store elements with a common feture

d = defaultdict(set)
d["t"].add("tom")
d["m"].add("mary")
d["t"].add("tim")
d["m"].add("mary")
d["m"].add("martin")

d

defaultdict(set, {'t': {'tim', 'tom'}, 'm': {'martin', 'mary'}})

In [ ]:
names = "david betty susan mary darlene sandy davin shelly becky beatrice tom michael wallace".split()

['david',
 'betty',
 'susan',
 'mary',
 'darlene',
 'sandy',
 'davin',
 'shelly',
 'becky',
 'beatrice',
 'tom',
 'michael',
 'wallace']

In [31]:
d = defaultdict(list)
for name in names:
    feature = name[0]
    d[feature].append(name)

d

defaultdict(list,
            {'d': ['david', 'darlene', 'davin'],
             'b': ['betty', 'becky', 'beatrice'],
             's': ['susan', 'sandy', 'shelly'],
             'm': ['mary', 'michael'],
             't': ['tom'],
             'w': ['wallace']})

In [34]:
d = defaultdict(list)
for name in names:
    feature = name[-1]
    d[feature].append(name)
d

defaultdict(list,
            {'d': ['david'],
             'y': ['betty', 'mary', 'sandy', 'shelly', 'becky'],
             'n': ['susan', 'davin'],
             'e': ['darlene', 'beatrice', 'wallace'],
             'm': ['tom'],
             'l': ['michael']})

In [35]:
# SELECT name from names ORDER BY len(name)
from pprint import pprint 

pprint(sorted(names, key=len))

['tom',
 'mary',
 'david',
 'betty',
 'susan',
 'sandy',
 'davin',
 'becky',
 'shelly',
 'darlene',
 'michael',
 'wallace',
 'beatrice']

In [36]:
list(zip("abcded", "ghijklm"))

[('a', 'g'), ('b', 'h'), ('c', 'i'), ('d', 'j'), ('e', 'k'), ('d', 'l')]

In [37]:
from itertools import zip_longest

list(zip_longest("abcded", "ghijklm"))

[('a', 'g'),
 ('b', 'h'),
 ('c', 'i'),
 ('d', 'j'),
 ('e', 'k'),
 ('d', 'l'),
 (None, 'm')]

In [39]:
list(zip_longest("abcded", "ghijklm", fillvalue="x"))

[('a', 'g'),
 ('b', 'h'),
 ('c', 'i'),
 ('d', 'j'),
 ('e', 'k'),
 ('d', 'l'),
 ('x', 'm')]

In [40]:
m = [
    [10,20],
    [30,40],
    [50,60],
]

list(zip([10, 20], [30, 40], [50, 60]))

[(10, 30, 50), (20, 40, 60)]

In [42]:
# we can write out the transpose like this
pprint(list(zip([10, 20], [30, 40], [50, 60])), width=15)

[(10, 30, 50),
 (20, 40, 60)]

In [ ]:
# Or event better write it as *m
pprint(list(zip(*m)), width=15)

[(10, 30, 50),
 (20, 40, 60)]

In [45]:
# Flattening a 2d structure
flat_m = [x for row in m for x in row]

flat_m

[10, 20, 30, 40, 50, 60]

In [46]:
it = iter("abcd")

list(it)

['a', 'b', 'c', 'd']